.main-app-wraiper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .content-wrapper {
        max-width: 1200px;
        background-color: rgb(223, 223, 223);
        margin: auto;
        width: 100%;
        flex: 1;
    }
}