.button {
    padding: 12px;
    font-size: 16px;
    background: #43c6ac;
    background: -webkit-linear-gradient(to right, #43c6ac, #191654); 
    background: linear-gradient(to right, #43c6ac, #191654);
    border: none;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}